@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro.otf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/LatoBold.ttf") format("truetype");
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/LatoLight.ttf") format("truetype");
}

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/LatoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PtSans.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("truetype");
}
