// ===== Base Folder====== //
@import "base/typography";
// ======================= //
// ===== Helpers Folder====== //
@import "helpers/mixins";
// ======================= //
// ===== Components Folder====== //
@import "components/buttons";
@import "components/animation";
@import "components/modal";
// ======================= //
// ===== Layout Folder====== //
@import "layout/navigation";
@import "layout/header";
@import "layout/our-services";
@import "layout/about";
@import "layout/footer";
// ======================= //
// ===== Pages Folder====== //
@import "pages/home";
// ======================= //
