// ===== Base Folder====== //
@import "base/typography";
// ======================= //
// ===== Helpers Folder====== //
@import "helpers/mixins";
// ======================= //
// ===== Components Folder====== //
@import "components/buttons";
@import "components/animation";
@import "components/modal";
// ======================= //
// ===== Layout Folder====== //
@import "layout/navigation";
@import "layout/header";
@import "layout/our-services";
@import "layout/about";
@import "layout/news";
@import "layout/consultation";
@import "layout/footer";
// ======================= //
// ===== Pages Folder====== //
@import "pages/home";
@import "pages/transportirovka";
@import "pages/blog";
@import "pages/single";
@import "pages/contacts";
// ======================= //
body,
html {
  overflow-x: hidden;
}

body {
  max-width: 1920px;
  margin: auto;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ad5d;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f1f1f1;
  border-radius: 10px;
}
