@mixin font($font-family, $font-size, $font-weight, $letter-spaicng) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spaicng;
}
@mixin hoverShadows {
  box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
  opacity: 0.8;
}
@mixin sectionTitle {
  @include font("LatoBold", 50px, 900, normal);
  color: #00ad5d;
}
@mixin breadcrumbs {
  padding: 15px 0;
  background-color: #f4f4f4;
  ul {
    align-items: center;
    text-align: center;
    li {
      margin-bottom: 0;
      padding-left: 20px;
      position: relative;
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: ">";
        position: absolute;
        right: -15px;
        top: 0;
        color: #00a67d;
        @include font("LatoRegular", 15px, 900, 0.75px);
      }
      &:first-child {
        padding-left: 0;
      }
      a {
        @include font("LatoBold", 15px, 900, 0.75px);
        color: #a0a1a2;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: #00a67d;
          text-decoration: unset;
        }
      }
    }
    @media screen and (max-width: 575px) {
      li {
        padding-left: 10px;
        &:after {
          font-size: 11px;
          right: -9px;
        }
        a {
          font-size: 11px;
        }
      }
    }
  }
}
