.services-page {
  padding-bottom: 50px;
  border-bottom: 5px solid #f7f7f7;
  .breadcrumbs {
    @include breadcrumbs;
  }
  h1 {
    @include font("LatoLight", 50px, 900, normal);
    color: #00ad5d;
    margin: 50px 0;
  }
  .services-slider {
    margin-bottom: 65px;
    border: 7px solid #e6e6e6;
    box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
    .carousel-indicators {
      bottom: -15px;
      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #00a67d;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background-color: #e6e6e6;
        }
      }
    }
    i {
      font-size: 70px;
    }
  }
  p,
  ul,
  li,
  h5 {
    @include font("LatoLight", 16px, 900, normal);
    line-height: 18px;
    color: #000;
    margin-bottom: 25px;
    text-align: justify;
  }
  a.btn {
    @include font("MyriadPro", 30px, 900, normal);
    border-radius: 10px;
    background-color: #00ad5d;
    color: #fff;
    margin-top: 25px;
    padding: 7px 27px;
    transition: all 0.5s ease-in-out;
    &:hover {
      @include hoverShadows;
      opacity: 1;
    }
    &:focus {
      box-shadow: unset;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
      font-size: 36px;
      margin: 30px 0;
    }
    .services-slider {
      margin-bottom: 30px;
      .carousel-indicators {
        bottom: -30px;
        li {
          width: 10px;
          height: 10px;
        }
      }
      i {
        font-size: 55px;
      }
    }
    a.btn {
      font-size: 26px;
    }
  }
  @media screen and (max-width: 575px) {
    h1 {
      font-size: 28px;
      margin: 30px 0;
    }
    .services-slider {
      margin-bottom: 30px;
      .carousel-indicators {
        bottom: -30px;
        li {
          width: 8px;
          height: 8px;
        }
      }
      i {
        font-size: 40px;
      }
    }
    p,
    ul,
    li,
    h5 {
      font-size: 14px;
    }
    a.btn {
      font-size: 18px;
    }
  }
}
