@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro.otf") format("truetype"); }

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/LatoBold.ttf") format("truetype"); }

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/LatoLight.ttf") format("truetype"); }

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/LatoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PtSans.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("truetype"); }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 10px; }
  .scrolltop .scroll {
    position: absolute;
    right: 20px;
    bottom: 50px;
    background: #22b892;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; }
    .scrolltop .scroll:hover {
      box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.12); }
    .scrolltop .scroll .fa {
      font-size: 30px;
      color: white; }

@media screen and (max-width: 575px) {
  .scrolltop .scroll {
    bottom: 100px; } }

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out; }

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

.mainModals.show {
  display: flex !important;
  background: rgba(0, 0, 0, 0.7); }
  .mainModals.show .modal-dialog {
    margin: auto; }

.mainModals .modal-header {
  border-bottom: unset;
  padding-top: 50px;
  position: relative;
  padding-bottom: 0; }
  .mainModals .modal-header button {
    color: #00a67d;
    opacity: 1;
    font-family: "LatoBold";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.7px;
    position: absolute;
    right: 25px;
    top: 10px; }
    .mainModals .modal-header button:hover {
      color: #00a67d !important; }
    .mainModals .modal-header button:focus {
      outline: unset; }

.mainModals .modal-content {
  border-radius: 9px;
  border: unset; }

.mainModals .modal-body {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 475px; }
  .mainModals .modal-body h1 {
    font-family: "Gilroy-ExtraBold";
    font-size: 36px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00a67d;
    line-height: 30px;
    margin-bottom: 15px; }
  .mainModals .modal-body p {
    margin-bottom: 25px; }
  .mainModals .modal-body form input:focus {
    outline: unset;
    box-shadow: unset; }
  .mainModals .modal-body form textarea {
    resize: none; }
  .mainModals .modal-body form input[type="text"],
  .mainModals .modal-body form textarea {
    background-color: #f3f2f2;
    border: unset;
    border-radius: 10px;
    padding: 25px 16px;
    margin-top: 35px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #3b3a3a;
    margin: 0 auto; }
    .mainModals .modal-body form input[type="text"]:focus,
    .mainModals .modal-body form textarea:focus {
      box-shadow: 0 0 0 0.2rem rgba(1, 162, 97, 0.32); }
    .mainModals .modal-body form input[type="text"]::-webkit-input-placeholder,
    .mainModals .modal-body form textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: "Lato";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #3b3a3a; }
    .mainModals .modal-body form input[type="text"]::-moz-placeholder,
    .mainModals .modal-body form textarea::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "Lato";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #3b3a3a; }
    .mainModals .modal-body form input[type="text"]:-ms-input-placeholder,
    .mainModals .modal-body form textarea:-ms-input-placeholder {
      /* IE 10+ */
      font-family: "Lato";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #3b3a3a; }
    .mainModals .modal-body form input[type="text"]:-moz-placeholder,
    .mainModals .modal-body form textarea:-moz-placeholder {
      /* Firefox 18- */
      font-family: "Lato";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #3b3a3a; }
  .mainModals .modal-body input[type="submit"] {
    font-family: "MyriadPro";
    font-size: 26px;
    font-weight: 900;
    letter-spacing: normal;
    background-color: #00a67d;
    border-radius: 10px;
    margin-top: 15px;
    color: #fff;
    position: relative;
    width: 100%;
    transition: opacity 0.7s ease-in-out;
    box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32); }
    .mainModals .modal-body input[type="submit"]:hover {
      opacity: 0.8; }

@media screen and (max-width: 575px) {
  .mainModals .modal-header {
    padding-top: 50px; }
  .mainModals .modal-body {
    padding-left: 5px;
    padding-right: 5px; }
    .mainModals .modal-body h1 {
      font-family: "Gilroy-ExtraBold";
      font-size: 24px;
      font-weight: 900;
      letter-spacing: normal;
      line-height: unset;
      margin-bottom: 15px; }
    .mainModals .modal-body p {
      font-size: 12px; }
    .mainModals .modal-body form input[type="text"] {
      padding: 20px 15px;
      margin-top: 0px;
      font-family: "Lato";
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #3b3a3a;
      margin: 0 auto; }
      .mainModals .modal-body form input[type="text"]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #3b3a3a; }
      .mainModals .modal-body form input[type="text"]::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #3b3a3a; }
      .mainModals .modal-body form input[type="text"]:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #3b3a3a; }
      .mainModals .modal-body form input[type="text"]:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #3b3a3a; }
    .mainModals .modal-body input[type="submit"] {
      font-family: "MyriadPro";
      font-size: 18px;
      font-weight: 900;
      letter-spacing: normal; } }

nav.primary-nav .navbar-brand img {
  max-width: 274px;
  width: 100%;
  height: auto; }

nav.primary-nav .time-item,
nav.primary-nav .phone-item,
nav.primary-nav .location-item {
  padding-right: 26px; }
  nav.primary-nav .time-item__icon,
  nav.primary-nav .phone-item__icon,
  nav.primary-nav .location-item__icon {
    padding-right: 10px; }
    nav.primary-nav .time-item__icon img,
    nav.primary-nav .phone-item__icon img,
    nav.primary-nav .location-item__icon img {
      max-width: 30px;
      width: 100%;
      height: auto; }
  nav.primary-nav .time-item__text p,
  nav.primary-nav .phone-item__text p,
  nav.primary-nav .location-item__text p {
    font-family: "LatoRegular";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    color: #000; }
    nav.primary-nav .time-item__text p span,
    nav.primary-nav .phone-item__text p span,
    nav.primary-nav .location-item__text p span {
      color: #ff0606; }

nav.primary-nav .location-item {
  padding-right: 45px; }

nav.primary-nav .action-item a.btn {
  font-family: "PTSans";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: normal;
  color: #fff;
  border-radius: 19px;
  background-color: #00ad5d;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out; }
  nav.primary-nav .action-item a.btn:hover {
    box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
    opacity: 0.8; }
  nav.primary-nav .action-item a.btn:focus {
    box-shadow: unset; }

nav.secondary-nav {
  background-color: #00ad5d; }
  nav.secondary-nav ul li a {
    font-family: "MyriadPro";
    font-size: 17px;
    font-weight: 900;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    padding-right: 0 !important;
    padding-left: 0 !important; }
  nav.secondary-nav .dropdown-menu {
    border: unset;
    background-color: #00ad5d;
    padding-left: 12px;
    padding-right: 12px; }
    nav.secondary-nav .dropdown-menu .dropdown-item {
      transition: all 0.5s ease-in-out; }
    nav.secondary-nav .dropdown-menu .dropdown-item:focus,
    nav.secondary-nav .dropdown-menu .dropdown-item:hover {
      background-color: transparent;
      color: #f4f4f4; }

header {
  min-height: 495px;
  height: 100%; }
  header #headerCarousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c5c5c5; }
    header #headerCarousel .carousel-indicators li.active {
      background-color: #fff; }
  header #headerCarousel i {
    font-size: 80px; }
  header #headerCarousel .carousel-item img {
    min-height: 495px;
    height: 100%; }
  header #headerCarousel .carousel-item .carousel-caption {
    position: absolute;
    top: 9%;
    left: 15%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0; }
    header #headerCarousel .carousel-item .carousel-caption h5 {
      font-family: "Gilroy-ExtraBold";
      font-size: 50px;
      font-weight: 900;
      letter-spacing: normal;
      color: #fff;
      margin-bottom: 30px; }
    header #headerCarousel .carousel-item .carousel-caption ul {
      padding-left: 35px;
      padding-bottom: 50px;
      min-height: 225px; }
      header #headerCarousel .carousel-item .carousel-caption ul li {
        font-family: "MyriadPro";
        font-size: 27px;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 41px;
        color: #fff;
        position: relative; }
        header #headerCarousel .carousel-item .carousel-caption ul li:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -25px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #d10505; }
        header #headerCarousel .carousel-item .carousel-caption ul li span {
          color: #f40000; }
    header #headerCarousel .carousel-item .carousel-caption button {
      font-family: "MyriadPro";
      font-size: 30px;
      font-weight: 900;
      letter-spacing: normal;
      border-radius: 10px;
      background-color: #00ad5d;
      color: #fff;
      padding: 7px 27px;
      transition: all 0.5s ease-in-out; }
      header #headerCarousel .carousel-item .carousel-caption button:hover {
        box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
        opacity: 0.8;
        opacity: 1; }
      header #headerCarousel .carousel-item .carousel-caption button:focus {
        box-shadow: unset; }

#our-services {
  padding-top: 70px; }
  #our-services h2 {
    font-family: "LatoBold";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d; }
  #our-services .icons-col {
    margin-top: 70px; }
    #our-services .icons-col .icons-item {
      padding: 15px 23px 23px 23px;
      background-color: #f4f4f4;
      box-shadow: 0 0 22px 5px rgba(253, 112, 112, 0.1); }
      #our-services .icons-col .icons-item__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 185px; }
        #our-services .icons-col .icons-item__icon img {
          display: block;
          max-width: 150px;
          width: 100%; }
      #our-services .icons-col .icons-item__title {
        font-family: "LatoRegular";
        font-size: 20px;
        font-weight: 900;
        letter-spacing: normal;
        line-height: 30px;
        color: #000;
        padding: 0px 10px 25px 10px; }
      #our-services .icons-col .icons-item__text {
        font-family: "LatoLight";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 18px;
        color: #000;
        padding-bottom: 25px; }
      #our-services .icons-col .icons-item__action a {
        font-family: "PTSans";
        font-size: 15px;
        font-weight: 700;
        letter-spacing: normal;
        padding: 10px 25px;
        color: #fff;
        border-radius: 19px;
        background-color: #00ad5d;
        transition: all 0.5s ease-in-out; }
        #our-services .icons-col .icons-item__action a:hover {
          box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
          opacity: 0.8; }
        #our-services .icons-col .icons-item__action a:focus {
          box-shadow: unset; }

#about {
  padding-top: 70px;
  padding-bottom: 88px;
  position: relative; }
  #about:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11px;
    background-image: linear-gradient(-256deg, #00ad5d 0%, #00ad5d 14%, #ffffff 100%); }
  #about h2 {
    font-family: "LatoBold";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d; }
  #about .about-col {
    margin-top: 75px; }
    #about .about-col .about-item__icon {
      margin-bottom: 25px; }
      #about .about-col .about-item__icon img {
        max-width: 100px; }
    #about .about-col .about-item__text {
      max-width: 180px;
      margin: auto; }
      #about .about-col .about-item__text p {
        font-family: "LatoLight";
        font-size: 25px;
        font-weight: 900;
        letter-spacing: normal;
        line-height: 30px;
        color: #00ad5d; }
  #about .content {
    margin-top: 80px; }
    #about .content .left-col p {
      font-family: "LatoLight";
      font-size: 20px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 25px;
      color: #000; }
    #about .content .right-col .about-slider {
      border: 7px solid #e6e6e6;
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32); }
      #about .content .right-col .about-slider .carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #00a67d; }
        #about .content .right-col .about-slider .carousel-indicators li.active {
          background-color: #e6e6e6; }
      #about .content .right-col .about-slider i {
        font-size: 70px; }

#last-news {
  padding-bottom: 125px; }
  #last-news h2 {
    font-family: "LatoBold";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    margin-top: 45px; }
  #last-news .news-col {
    margin-top: 60px; }
    #last-news .news-col .news-item {
      position: relative; }
      #last-news .news-col .news-item__cover img {
        width: 100%;
        height: auto; }
      #last-news .news-col .news-item__text {
        color: #000;
        background-color: #f4f4f4;
        padding: 20px 15px 50px 15px; }
        #last-news .news-col .news-item__text small {
          font-family: "LatoLight";
          font-size: 13px;
          font-weight: 300;
          letter-spacing: normal;
          font-style: italic;
          padding-left: 7px;
          padding-bottom: 15px; }
        #last-news .news-col .news-item__text p {
          font-family: "Arial";
          font-size: 15px;
          font-weight: 400;
          letter-spacing: normal; }
      #last-news .news-col .news-item__action {
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
        #last-news .news-col .news-item__action a {
          font-family: "PTSans";
          font-size: 15px;
          font-weight: 700;
          letter-spacing: normal;
          padding: 8px 40px;
          color: #fff;
          border-radius: 19px;
          background-color: #00ad5d;
          transition: all 0.5s ease-in-out; }
          #last-news .news-col .news-item__action a:hover {
            box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
            opacity: 0.8; }
          #last-news .news-col .news-item__action a:focus {
            box-shadow: unset; }

#consultation {
  background: url("../img/home/consultation/consultation.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  padding-top: 70px;
  padding-bottom: 60px; }
  #consultation h2 {
    font-family: "PTSans";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: normal;
    color: #fff;
    padding-bottom: 65px; }
  #consultation form input[type="text"] {
    font-family: "LatoRegular";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px;
    color: #000;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px 18px; }
    #consultation form input[type="text"]::placeholder {
      font-family: "LatoRegular";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.75px;
      color: #000; }
    #consultation form input[type="text"]:focus {
      box-shadow: unset;
      border-color: #00ad5d; }
  #consultation form input[type="submit"] {
    font-family: "LatoRegular";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.05px;
    padding: 12px 30px;
    margin-top: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: #00ad5d;
    transition: all 0.5s ease-in-out; }
    #consultation form input[type="submit"]:hover {
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
      opacity: 0.8;
      opacity: 1; }
    #consultation form input[type="submit"]:focus {
      box-shadow: unset; }

footer {
  background-color: #f6f6f6;
  padding-top: 25px; }
  footer .brand-row {
    padding-bottom: 28px; }
  footer .phone-item {
    margin-bottom: 10px; }
    footer .phone-item:last-child {
      margin-bottom: 0; }
    footer .phone-item .icon {
      padding-right: 10px; }
      footer .phone-item .icon img {
        width: 100%;
        max-width: 30px;
        height: auto; }
    footer .phone-item .text p,
    footer .phone-item .text a {
      font-family: "LatoLight";
      font-size: 14px;
      font-weight: 300;
      letter-spacing: normal;
      color: #000;
      transition: color 0.7s ease-in-out; }
      footer .phone-item .text p span,
      footer .phone-item .text a span {
        color: #ff0606;
        font-weight: bold; }
    footer .phone-item .text a:hover {
      color: #ff0606;
      text-decoration: none; }
  footer ul li {
    padding-bottom: 10px; }
    footer ul li:last-child {
      padding-bottom: 0; }
  footer ul li,
  footer ul a {
    font-family: "LatoRegular";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #00ad5d;
    transition: all 0.7s ease-in-out; }
    footer ul li img,
    footer ul a img {
      margin-left: 15px;
      transition: all 0.7s ease-in-out; }
  footer ul a:hover {
    color: #ff0606;
    text-decoration: none; }
    footer ul a:hover img {
      transform: scale(1.1);
      box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.12);
      border-radius: 5px; }
  footer a.btn {
    font-family: "PTSans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 19px;
    background-color: #22b892;
    margin-top: 55px;
    transition: all 0.5s ease-in-out; }
    footer a.btn:hover {
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
      opacity: 0.8; }
  footer .bottom-footer {
    margin-top: 25px;
    padding: 15px 0;
    background-color: #eeeeee; }
    footer .bottom-footer p,
    footer .bottom-footer a {
      font-family: "PTSans";
      font-size: 17px;
      font-weight: 400;
      letter-spacing: normal;
      color: #5e5e5e;
      transition: color 0.5s ease-in-out; }
    footer .bottom-footer a:hover {
      text-decoration: unset;
      color: #dd221c; }

.services-page {
  padding-bottom: 50px;
  border-bottom: 5px solid #f7f7f7; }
  .services-page .breadcrumbs {
    padding: 15px 0;
    background-color: #f4f4f4; }
    .services-page .breadcrumbs ul {
      align-items: center;
      text-align: center; }
      .services-page .breadcrumbs ul li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative; }
        .services-page .breadcrumbs ul li:last-child:after {
          display: none; }
        .services-page .breadcrumbs ul li:after {
          content: ">";
          position: absolute;
          right: -15px;
          top: 0;
          color: #00a67d;
          font-family: "LatoRegular";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px; }
        .services-page .breadcrumbs ul li:first-child {
          padding-left: 0; }
        .services-page .breadcrumbs ul li a {
          font-family: "LatoBold";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px;
          color: #a0a1a2;
          transition: all 0.5s ease-in-out; }
          .services-page .breadcrumbs ul li a:hover {
            color: #00a67d;
            text-decoration: unset; }
      @media screen and (max-width: 575px) {
        .services-page .breadcrumbs ul li {
          padding-left: 10px; }
          .services-page .breadcrumbs ul li:after {
            font-size: 11px;
            right: -9px; }
          .services-page .breadcrumbs ul li a {
            font-size: 11px; } }
  .services-page h1 {
    font-family: "LatoLight";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    margin: 50px 0; }
  .services-page .services-slider {
    margin-bottom: 65px;
    border: 7px solid #e6e6e6;
    box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32); }
    .services-page .services-slider .carousel-indicators {
      bottom: -15px; }
      .services-page .services-slider .carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #00a67d;
        margin-right: 15px; }
        .services-page .services-slider .carousel-indicators li:last-child {
          margin-right: 0; }
        .services-page .services-slider .carousel-indicators li.active {
          background-color: #e6e6e6; }
    .services-page .services-slider i {
      font-size: 70px; }
  .services-page p,
  .services-page ul,
  .services-page li,
  .services-page h5 {
    font-family: "LatoLight";
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 18px;
    color: #000;
    margin-bottom: 25px;
    text-align: justify; }
  .services-page a.btn {
    font-family: "MyriadPro";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: normal;
    border-radius: 10px;
    background-color: #00ad5d;
    color: #fff;
    margin-top: 25px;
    padding: 7px 27px;
    transition: all 0.5s ease-in-out; }
    .services-page a.btn:hover {
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
      opacity: 0.8;
      opacity: 1; }
    .services-page a.btn:focus {
      box-shadow: unset; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .services-page h1 {
      font-size: 36px;
      margin: 30px 0; }
    .services-page .services-slider {
      margin-bottom: 30px; }
      .services-page .services-slider .carousel-indicators {
        bottom: -30px; }
        .services-page .services-slider .carousel-indicators li {
          width: 10px;
          height: 10px; }
      .services-page .services-slider i {
        font-size: 55px; }
    .services-page a.btn {
      font-size: 26px; } }
  @media screen and (max-width: 575px) {
    .services-page h1 {
      font-size: 28px;
      margin: 30px 0; }
    .services-page .services-slider {
      margin-bottom: 30px; }
      .services-page .services-slider .carousel-indicators {
        bottom: -30px; }
        .services-page .services-slider .carousel-indicators li {
          width: 8px;
          height: 8px; }
      .services-page .services-slider i {
        font-size: 40px; }
    .services-page p,
    .services-page ul,
    .services-page li,
    .services-page h5 {
      font-size: 14px; }
    .services-page a.btn {
      font-size: 18px; } }

.blog-page {
  padding-bottom: 95px; }
  .blog-page .breadcrumbs {
    padding: 15px 0;
    background-color: #f4f4f4; }
    .blog-page .breadcrumbs ul {
      align-items: center;
      text-align: center; }
      .blog-page .breadcrumbs ul li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative; }
        .blog-page .breadcrumbs ul li:last-child:after {
          display: none; }
        .blog-page .breadcrumbs ul li:after {
          content: ">";
          position: absolute;
          right: -15px;
          top: 0;
          color: #00a67d;
          font-family: "LatoRegular";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px; }
        .blog-page .breadcrumbs ul li:first-child {
          padding-left: 0; }
        .blog-page .breadcrumbs ul li a {
          font-family: "LatoBold";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px;
          color: #a0a1a2;
          transition: all 0.5s ease-in-out; }
          .blog-page .breadcrumbs ul li a:hover {
            color: #00a67d;
            text-decoration: unset; }
      @media screen and (max-width: 575px) {
        .blog-page .breadcrumbs ul li {
          padding-left: 10px; }
          .blog-page .breadcrumbs ul li:after {
            font-size: 11px;
            right: -9px; }
          .blog-page .breadcrumbs ul li a {
            font-size: 11px; } }
  .blog-page h2 {
    font-family: "LatoBold";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    margin-top: 60px; }
  .blog-page .news-col {
    margin-top: 90px; }
    .blog-page .news-col .news-item {
      position: relative; }
      .blog-page .news-col .news-item__cover img {
        width: 100%;
        height: auto; }
      .blog-page .news-col .news-item__text {
        color: #000;
        background-color: #f4f4f4;
        padding: 20px 15px 50px 15px; }
        .blog-page .news-col .news-item__text small {
          font-family: "LatoLight";
          font-size: 13px;
          font-weight: 300;
          letter-spacing: normal;
          font-style: italic;
          padding-left: 7px;
          padding-bottom: 15px; }
        .blog-page .news-col .news-item__text p {
          font-family: "Arial";
          font-size: 15px;
          font-weight: 400;
          letter-spacing: normal; }
      .blog-page .news-col .news-item__action {
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
        .blog-page .news-col .news-item__action a {
          font-family: "PTSans";
          font-size: 15px;
          font-weight: 700;
          letter-spacing: normal;
          padding: 8px 40px;
          color: #fff;
          border-radius: 19px;
          background-color: #00ad5d;
          transition: all 0.5s ease-in-out; }
          .blog-page .news-col .news-item__action a:hover {
            box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
            opacity: 0.8; }
          .blog-page .news-col .news-item__action a:focus {
            box-shadow: unset; }
  @media screen and (max-width: 767px) {
    .blog-page .news-col {
      margin-top: 60px; }
    .blog-page .news-col:first-child {
      margin-top: 30px; } }
  @media screen and (max-width: 575px) {
    .blog-page h2 {
      font-size: 28px;
      margin-top: 30px; }
    .blog-page .news-col .news-item__text p {
      font-size: 14px; } }

.single-page {
  padding-bottom: 100px; }
  .single-page .breadcrumbs {
    padding: 15px 0;
    background-color: #f4f4f4;
    margin-bottom: 50px; }
    .single-page .breadcrumbs ul {
      align-items: center;
      text-align: center; }
      .single-page .breadcrumbs ul li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative; }
        .single-page .breadcrumbs ul li:last-child:after {
          display: none; }
        .single-page .breadcrumbs ul li:after {
          content: ">";
          position: absolute;
          right: -15px;
          top: 0;
          color: #00a67d;
          font-family: "LatoRegular";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px; }
        .single-page .breadcrumbs ul li:first-child {
          padding-left: 0; }
        .single-page .breadcrumbs ul li a {
          font-family: "LatoBold";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px;
          color: #a0a1a2;
          transition: all 0.5s ease-in-out; }
          .single-page .breadcrumbs ul li a:hover {
            color: #00a67d;
            text-decoration: unset; }
      @media screen and (max-width: 575px) {
        .single-page .breadcrumbs ul li {
          padding-left: 10px; }
          .single-page .breadcrumbs ul li:after {
            font-size: 11px;
            right: -9px; }
          .single-page .breadcrumbs ul li a {
            font-size: 11px; } }
  .single-page .post-title {
    background-color: #f7f7f7;
    padding: 40px 0; }
    .single-page .post-title h1 {
      font-family: "Arial";
      font-size: 31px;
      font-weight: 600;
      letter-spacing: 0.75px;
      line-height: 40px;
      color: #22b892;
      margin-bottom: 0; }
  .single-page .post-img img {
    width: 100%;
    height: auto; }
  .single-page .post-text {
    background-color: #f7f7f7;
    text-align: justify;
    padding: 40px 40px;
    position: relative; }
    .single-page .post-text h1,
    .single-page .post-text h2,
    .single-page .post-text h3,
    .single-page .post-text h4,
    .single-page .post-text h5,
    .single-page .post-text h6 {
      color: #22b892;
      font-family: "LatoRegular", sans-serif;
      font-weight: bold; }
    .single-page .post-text p,
    .single-page .post-text ul,
    .single-page .post-text li,
    .single-page .post-text span,
    .single-page .post-text small,
    .single-page .post-text a {
      font-family: "LatoLight";
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.75px; }
    .single-page .post-text a {
      color: #22b892; }
    .single-page .post-text a.next,
    .single-page .post-text a.previous {
      font-family: "PTSans";
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 0.75px;
      color: #fff;
      background-color: #22b892;
      border-radius: 19px;
      padding: 8px 30px;
      position: absolute;
      bottom: -18px;
      transition: all 0.5s ease-in-out; }
      .single-page .post-text a.next:hover,
      .single-page .post-text a.previous:hover {
        box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
        opacity: 0.8; }
      .single-page .post-text a.next:focus,
      .single-page .post-text a.previous:focus {
        box-shadow: unset; }
    .single-page .post-text a.previous {
      left: 5%; }
    .single-page .post-text a.next {
      right: 5%; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .single-page .post-title {
      padding: 25px 10px; }
      .single-page .post-title h1 {
        font-size: 25px; }
    .single-page .post-text {
      padding: 25px 25px; }
      .single-page .post-text p,
      .single-page .post-text ul,
      .single-page .post-text li,
      .single-page .post-text span,
      .single-page .post-text small,
      .single-page .post-text a {
        font-family: "LatoLight";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.75px; }
      .single-page .post-text a.next,
      .single-page .post-text a.previous {
        font-size: 14px;
        padding: 8px 10px;
        bottom: -18px; }
      .single-page .post-text a.previous {
        left: 5%; }
      .single-page .post-text a.next {
        right: 5%; } }
  @media screen and (max-width: 575px) {
    .single-page .post-title {
      padding: 15px 10px; }
      .single-page .post-title h1 {
        font-size: 18px;
        line-height: 24px; }
    .single-page .post-text {
      padding: 20px 10px; }
      .single-page .post-text h1,
      .single-page .post-text h2,
      .single-page .post-text h3,
      .single-page .post-text h4,
      .single-page .post-text h5,
      .single-page .post-text h6 {
        font-size: 19px; }
      .single-page .post-text p,
      .single-page .post-text ul,
      .single-page .post-text li,
      .single-page .post-text span,
      .single-page .post-text small,
      .single-page .post-text a {
        font-family: "LatoLight";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.75px; }
      .single-page .post-text a.next,
      .single-page .post-text a.previous {
        font-size: 12px;
        padding: 8px 10px; }
      .single-page .post-text a.previous {
        left: 0%; }
      .single-page .post-text a.next {
        right: 0%; } }

#contacts-page {
  padding-bottom: 65px;
  background-color: #fff; }
  #contacts-page .breadcrumbs {
    padding: 15px 0;
    background-color: #f4f4f4; }
    #contacts-page .breadcrumbs ul {
      align-items: center;
      text-align: center; }
      #contacts-page .breadcrumbs ul li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative; }
        #contacts-page .breadcrumbs ul li:last-child:after {
          display: none; }
        #contacts-page .breadcrumbs ul li:after {
          content: ">";
          position: absolute;
          right: -15px;
          top: 0;
          color: #00a67d;
          font-family: "LatoRegular";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px; }
        #contacts-page .breadcrumbs ul li:first-child {
          padding-left: 0; }
        #contacts-page .breadcrumbs ul li a {
          font-family: "LatoBold";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px;
          color: #a0a1a2;
          transition: all 0.5s ease-in-out; }
          #contacts-page .breadcrumbs ul li a:hover {
            color: #00a67d;
            text-decoration: unset; }
      @media screen and (max-width: 575px) {
        #contacts-page .breadcrumbs ul li {
          padding-left: 10px; }
          #contacts-page .breadcrumbs ul li:after {
            font-size: 11px;
            right: -9px; }
          #contacts-page .breadcrumbs ul li a {
            font-size: 11px; } }
  #contacts-page h1 {
    font-family: "LatoBold";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    padding: 56px 0; }
    @media screen and (max-width: 576px) {
      #contacts-page h1 {
        padding: 25px 0;
        font-size: 28px; } }
  #contacts-page iframe {
    box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32); }
  #contacts-page .contacts__info ul li {
    display: flex;
    align-items: center; }
    #contacts-page .contacts__info ul li img {
      max-width: 48px; }
    #contacts-page .contacts__info ul li ul {
      padding-left: 15px; }
      #contacts-page .contacts__info ul li ul li {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
        color: #00a67d; }
        #contacts-page .contacts__info ul li ul li a {
          color: #00a67d;
          transition: all 0.7s ease-in-out; }
          #contacts-page .contacts__info ul li ul li a:hover {
            color: #ff0606;
            text-decoration: none; }
  #contacts-page .contacts__button a {
    font-family: "MyriadPro";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.73px;
    border-radius: 10px;
    background-color: #00ad5d;
    color: #fff;
    padding: 7px 27px;
    transition: all 0.5s ease-in-out; }
    #contacts-page .contacts__button a:hover {
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
      opacity: 0.8;
      opacity: 0.8; }
    #contacts-page .contacts__button a:focus {
      box-shadow: unset; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #contacts-page .contacts__info ul li img {
      max-width: 30px; }
    #contacts-page .contacts__info ul li ul {
      padding-left: 15px; }
      #contacts-page .contacts__info ul li ul li {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1px;
        color: #00a67d; }
        #contacts-page .contacts__info ul li ul li a {
          color: #00a67d; } }
  @media screen and (max-width: 767px) {
    #contacts-page .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #contacts-page .contacts__info ul li img {
        max-width: 30px; }
      #contacts-page .contacts__info ul li ul {
        padding-left: 15px; }
        #contacts-page .contacts__info ul li ul li {
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 1px;
          color: #00a67d; }
          #contacts-page .contacts__info ul li ul li a {
            color: #00a67d; } }

#price-list-page {
  padding-bottom: 50px; }
  #price-list-page .breadcrumbs {
    padding: 15px 0;
    background-color: #f4f4f4; }
    #price-list-page .breadcrumbs ul {
      align-items: center;
      text-align: center; }
      #price-list-page .breadcrumbs ul li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative; }
        #price-list-page .breadcrumbs ul li:last-child:after {
          display: none; }
        #price-list-page .breadcrumbs ul li:after {
          content: ">";
          position: absolute;
          right: -15px;
          top: 0;
          color: #00a67d;
          font-family: "LatoRegular";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px; }
        #price-list-page .breadcrumbs ul li:first-child {
          padding-left: 0; }
        #price-list-page .breadcrumbs ul li a {
          font-family: "LatoBold";
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.75px;
          color: #a0a1a2;
          transition: all 0.5s ease-in-out; }
          #price-list-page .breadcrumbs ul li a:hover {
            color: #00a67d;
            text-decoration: unset; }
      @media screen and (max-width: 575px) {
        #price-list-page .breadcrumbs ul li {
          padding-left: 10px; }
          #price-list-page .breadcrumbs ul li:after {
            font-size: 11px;
            right: -9px; }
          #price-list-page .breadcrumbs ul li a {
            font-size: 11px; } }
  #price-list-page h1 {
    font-family: "LatoLight";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    margin-top: 50px;
    margin-bottom: 0; }
  #price-list-page h2 {
    font-family: "LatoLight";
    font-size: 36px;
    font-weight: 900;
    letter-spacing: normal;
    color: #00ad5d;
    margin-bottom: 50px; }
  #price-list-page table.table-bordered {
    border: 4px solid #00ad5d;
    box-shadow: 0 0 30px 0.5px rgba(0, 173, 93, 0.2), 0 0 35px 0.5px rgba(0, 173, 93, 0.2) inset; }
    #price-list-page table.table-bordered thead {
      font-family: "LatoRegular";
      font-size: 28px;
      font-weight: 600;
      letter-spacing: normal;
      color: #00ad5d;
      border-bottom: 4px solid #00ad5d; }
      #price-list-page table.table-bordered thead th {
        border: 2px solid #00ad5d; }
    #price-list-page table.table-bordered tbody td {
      font-family: "LatoLight";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: normal;
      border: 2px solid #00ad5d; }
      #price-list-page table.table-bordered tbody td.price {
        font-family: "LatoRegular";
        font-size: 16px;
        font-weight: 900;
        letter-spacing: normal;
        color: #00ad5d; }
    #price-list-page table.table-bordered tbody tr.colspan-row td {
      font-family: "LatoRegular";
      font-size: 19px;
      font-weight: 900;
      letter-spacing: normal; }
  #price-list-page a.btn {
    font-family: "MyriadPro";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: normal;
    border-radius: 10px;
    background-color: #00ad5d;
    color: #fff;
    margin-top: 25px;
    padding: 7px 27px;
    transition: all 0.5s ease-in-out; }
    #price-list-page a.btn:hover {
      box-shadow: 0 0 42px 4px rgba(1, 162, 97, 0.32);
      opacity: 0.8;
      opacity: 0.8; }
    #price-list-page a.btn:focus {
      box-shadow: unset; }

body,
html {
  overflow-x: hidden; }

body {
  max-width: 1920px;
  margin: auto; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ad5d; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f1f1f1;
  border-radius: 10px; }
