.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 10px;
  .scroll {
    position: absolute;
    right: 20px;
    bottom: 50px;
    background: #22b892;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    &:hover {
      box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.12);
    }
    .fa {
      font-size: 30px;
      color: white;
    }
  }
}

@media screen and (max-width: 575px) {
  .scrolltop {
    .scroll {
      bottom: 100px;
    }
  }
}
