header {
  min-height: 495px;
  height: 100%;
  #headerCarousel {
    .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #c5c5c5;
      &.active {
        background-color: #fff;
      }
    }
    i {
      font-size: 80px;
    }

    .carousel-item {
      img {
        min-height: 495px;
        height: 100%;
      }
      .carousel-caption {
        position: absolute;
        top: 9%;
        left: 15%;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        h5 {
          @include font("Gilroy-ExtraBold", 50px, 900, normal);
          color: #fff;
          margin-bottom: 30px;
        }
        ul {
          padding-left: 35px;
          padding-bottom: 50px;
          min-height: 225px;
          li {
            @include font("MyriadPro", 27px, 600, normal);
            line-height: 41px;
            color: #fff;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -25px;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background-color: #d10505;
            }
            span {
              color: #f40000;
            }
          }
        }
        a {
          @include font("MyriadPro", 30px, 900, normal);
          border-radius: 10px;
          background-color: #00ad5d;
          color: #fff;
          padding: 7px 27px;
          transition: all 0.5s ease-in-out;
          &:hover {
            @include hoverShadows;
            opacity: 1;
          }
          &:focus {
            box-shadow: unset;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #headerCarousel {
      .carousel-item {
        .carousel-caption {
          h5 {
            font-size: 45px;
          }
          ul {
            li {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    #headerCarousel {
      .carousel-item {
        .carousel-caption {
          h5 {
            font-size: 36px;
          }
          ul {
            min-height: unset;
            padding-bottom: 35px;
            li {
              font-size: 22px;
            }
          }
          a {
            font-size: 22px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    min-height: 350px;
    #headerCarousel {
      .carousel-item {
        img {
          min-height: 350px;
        }
        .carousel-caption {
          h5 {
            font-size: 28px;
          }
          ul {
            min-height: unset;
            padding-bottom: 20px;
            li {
              font-size: 18px;
              line-height: 25px;
            }
          }
          a {
            padding: 7px 15px;
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    min-height: 280px;
    #headerCarousel {
      .carousel-indicators {
        display: none;
      }
      i.fa {
        font-size: 45px;
      }
      .carousel-item {
        img {
          min-height: 280px;
        }
        .carousel-caption {
          top: 13%;
          left: 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h5 {
            font-size: 19px;
            margin-bottom: 10px;
            text-align: center;
          }
          ul {
            min-height: unset;
            padding-bottom: 5px;
            li {
              font-size: 14px;
              line-height: unset;
            }
          }
          a {
            padding: 5px 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
