#our-services {
  padding-top: 70px;
  h2 {
    @include sectionTitle;
  }
  .icons-col {
    margin-top: 70px;
    .icons-item {
      padding: 15px 23px 23px 23px;
      background-color: #f4f4f4;
      box-shadow: 0 0 22px 5px rgba(253, 112, 112, 0.1);
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 185px;
        img {
          display: block;
          max-width: 150px;
          width: 100%;
        }
      }
      &__title {
        @include font("LatoRegular", 20px, 900, normal);
        line-height: 30px;
        color: #000;
        padding: 0px 10px 25px 10px;
      }
      &__text {
        @include font("LatoLight", 14px, 300, normal);
        line-height: 18px;
        color: #000;
        padding-bottom: 25px;
      }
      &__action {
        a {
          @include font("PTSans", 15px, 700, normal);
          padding: 10px 25px;
          color: #fff;
          border-radius: 19px;
          background-color: #00ad5d;
        }
      }
    }
  }
}
